azure-ai-projects
azure-ai-inference[prompts]
azure-identity
azure-search-documents
beautifulsoup4
langchain-text-splitters
mysql-connector-python
opentelemetry-api
pandas
python-creole
python-dotenv
PyMuPDF

